// _typography.scss
@use "sass:map";

@font-face {
  font-family: 'Nunito Black';
  src: url("./../../../public/fonts/nunito-black.woff2") format('woff2'),
}

@font-face {
  font-family: 'Nunito Bold';
  src: url("./../../../public/fonts/nunito-bold.woff2") format('woff2');
}