@use 'abstracts/mixins' as mixins;

.info-footer {
  @include mixins.dFlex(column, center, center);
  gap: 1rem;
}

mat-progress-bar {
  margin-bottom: 0.5rem;
}

.info-footer [mat-flat-button] {
  margin-block-end: 1rem;
}
